 <html>
<head>
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/aafd511457.js" crossorigin="anonymous"></script>
 <link type="text/css" rel="stylesheet" href="/css/layout.css">

</head>
<%-style %>
<body>
<%- include('_header'); %>

  <%-body %>

<%- script %>
<%-include('_footer'); %>
</body>
 </html>